node_modules
_site/
.DS_Store
examples/*/*/target/
examples/*/*/*/target/
examples/*/*/build/
examples/*/*/*/build/
examples/*/*/.gradle/
examples/*/*/.jenesis/
examples/.jenesis-install/
examples/*/*/bazel-*
examples/*/*/*/dependency-reduced-pom.xml
